.login-top{width: 100%;height:125px;border-bottom: 1px solid #E2E2E2;}
.login-logo{margin-left: 20px; width: 150px;border-right: 2px solid #E2E2E2;height: 30px;margin-top: 47px;}
.login-btn{margin-left: 20px;margin-top:50px;}
.login-comtent{width: 540px;height: 350px;display: block;margin:100px auto;}
.exchagepsw-comtent{width: 540px;height: 350px;display: block;margin:180px auto;}
.logo{margin-left: 36px;margin-top: 44px;}
.bborderw{border-bottom:2px solid #FF9900;}
.bborderm{border-bottom:1px solid #E2E2E2;}
.bborderg{border-bottom:2px solid #17B396;}
.bborderrm{border-right: 1px solid #E2E2E2;}
.name-login{margin-left: 15px;width:80px;border-right: 1px solid #E2E2E2;height: 20px;margin-top: 9px;}
.iconphone{background: url(../images/Group.png)no-repeat;width: 14px;height: 18px;margin-top: 10px;}
.phonein{outline: none;border: none; margin-left: 10px;width:390px;margin-top: 7px;height: 20px;padding-left: 10px;background: #fff;}
.iconpsw{background: url(../images/Group3.png)no-repeat;width: 15px;height: 18px;margin-top: 10px;}
.msgcode{background: url(../images/Group4.png)no-repeat;width: 18px;height: 20px;margin-top: 10px;}
.yzcode{outline: none;border: none; margin-left: 10px;width:318px;margin-top: 7px;height: 20px;padding-left: 10px;background: #fff;}
.codebg{height: 30px;width: 86px;overflow: hidden;}
.btn-login{background: #17B396;height: 50px;line-height: 50px;}
.login-bottom{width: 800px; margin: 20px auto;color: #b9b9b9; border-top: 1px solid #E2E2E2;padding-top: 10px;}
.left-nav{height: 100%;width: 7%;background: #494F58;overflow: hidden;}
.right-nav{height: 100%;width:93%;}
.username{width: 58px;height: 58px;background: #F0F0F0;
border: 2px solid #FFFFFF;border-radius: 50%;line-height: 60px;margin-left: 30px;margin-top: 30px;font-family: PingFangSC-Regular;}
.iconlist{width: 14px;height: 14px;}
.icongl{background: url(../images/1.png)no-repeat;}
.iconkh{background: url(../images/2-2.png)no-repeat;}
.iconyd{background: url(../images/3.png)no-repeat;}
.iconxt{background: url(../images/4.png)no-repeat;}
.iconglon{background: url(../images/1-1.png)no-repeat;}
.iconkhon{background: url(../images/2.png)no-repeat;}
.iconydon{background: url(../images/3-3.png)no-repeat;}
.iconxton{background: url(../images/4-4.png)no-repeat;}
.tellnum{position: absolute;bottom: 0;background: #666C75;width:7%;left: 0;}
.arrowd{ width: 0;height: 0;border-top: 10px solid #FFFFFF;border-right: 10px solid transparent;border-left: 10px solid transparent;position: relative;bottom: -17px;left: 15px;}
.tellnumdetail{width: 120px;height: 150px;position: absolute;bottom: 50px;left: 50px;background: #FFFFFF;border: 1px solid #EFEFEF;display: none;z-index: 9;}
.usernamed{line-height: 26px;padding-left: 10px;padding-top: 20px;}
.out{padding-left: 10px;}
.exchagepsw{padding-left: 10px;}
.login-success{width: 80px;height: 120px;display: block;position: absolute;left: 50%;margin-left: -40px;top: 50%;margin-top: -60px;}
.tabarname{padding-left:20px;padding-top: 50px;}
.nav-comtent{width: 99.99%;height: 93.8%;overflow: hidden;}
.nav-comtent-left{height:100%;}
.nav-comtent-right{height: 100%;width:94.3%;overflow: hidden;background: #f7f8fd;}
.searchkh{width: 80px;height: 40px;margin-top: 10px;margin-left: 8px;background: #F9F9F9;display: block;}
.page-content{width: 100%;height: 100%;padding-top: 10px;padding-left: 10px;background: #FFFFFF;}












































